@charset "UTF-8";
/* Body */
body {
	font-family: Segoe UI Semilight, Segoe UI, Segoe, Helvetica Neue, Gotham, serif;
	background-color: #FFFFFF; /* huvud-bakgrundsfärg */
	margin: 0;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF; /* rand ovanför Get-in-touch-with-me */
}
/* Header */
header {
	width: 100%;
	height: 8%;
	background-color: #FFFFFF; /* header */
	border-bottom: 1px solid #FFFFFF; /* rand under header */
}
.logo {
	color: #A3A3A3; /* header/logo-text */
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: left;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.logo2 {
	color: #A3A3A3; /* header/logo-text */
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.hero_header {
	color: #A3A3A3; /* get in touch with me */
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
.link { color: #FF0000; } /* CSS link color (red) */
.link:hover { color: #00FF00; } /* CSS link hover (green) */

/* Egen linklista */
ul {
    list-style-type: none;
	text-align: left;
	font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
	border-bottom: 2px solid #6DC7D0;
}

li {
    margin: 0px; display: inline-block;
}

li a {
    display: block;
    color: #A3A3A3;  /* Egen linklista-knappar */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #*** on hover */
li a:hover {
    background-color: #EEEEEE;
}
.active {
    background-color: #6dc7d0;
}
/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #5E5E5E;  /* kort info */
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF; /* bakgrund för bakgrund för thumbnails */
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 10px;
	padding-top: 5px;
	margin-top: -5px;
	margin-bottom: 5px;
}
.thumbnail {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 1px;
	background-color: #FFFFFF; /* bakgrund för thumbnails */
	padding-bottom: 2px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 10px;
	border-bottom: 4px solid #FFFFFF; /* borders under thumbnails. Orig: #6DC7D0 */
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #52BAD5; /* rubriker på thumbnails */
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #5E5E5E; /* p-text på thumbnails */
	text-align: left;
	padding-left: 20px;
}
/* More info */
.intro p {
	background-color: #FFFFFF; /* intro text */
	color: #5E5E5E;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 10px;
	float: left;
}
.intro .column h3 {
	color: #5E5E5E;
	text-align: center;
}
.intro .column p { /* Presentationstexten */
	color: #5E5E5E;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	opacity: 0.8;
}
.intro .column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	color: #A3A3A3; /* textfärg på copyright */
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #FFFFFF; /* Linkedin-bakgrund */
	padding-top: 60px;
	padding-bottom: 60px;
}
.intro {
	display: inline-block;
	background-color: #FFFFFF; /* intro-text-bakgrund */
}
.profile {
	width: 50%;
	padding-top: 20px;
	padding-bottom: 10px;
}
.gallery .thumbnail .tag {
	color: #5E5E5E;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 2px;
	margin-right: 2px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}
